.home {
  /* height: 100vh; */
  display: flex;
  gap: 1rem;
}
.home_right,
.home_left {
  flex: 1;
}
.home_right {
  /* height: 100vh; */
}
.home_left {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}
/* ---------------------right side------------------- */
.avatar {
  width: 550px;
  height: 550px;
  border-radius: 50%;
}

/* -------------------left side---------------------- */

.home_subtitle {
  font-weight: 600;
  font-family: var(--satisfy);
  font-size: var(--fs-3);
}
.home_name {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--bluish);
}
.home_desc {
  color: var(--light-gray);
  font-size: var(--fs-4);
  text-align: justify;
  line-height: 1.5;
  margin: 10px 0;
  padding-right: 2rem;
}
.social_handles {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.social_img {
  border: 0.6px solid var(--eerie-black-dark);
  padding: 5px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.download_btn {
  border-radius: 2rem;
  font-weight: 700;
  font-size: var(--fs-6);
  cursor: pointer;
  padding: 1rem;
  outline: none;
  width: 200px;
  background-color: var(--white);
  position: relative;
}

.download_btn::after {
  content: "";
  position: absolute;
  bottom: -6px;
  height: 29px;
  right: -5px;
  padding: 10px;
  width: 170px;
  z-index: -10;
  border-radius: 1.5rem;
  background: #1d1b193e;
}
/* -----------------media queries---------------- */
@media screen and (max-width: 1200px) {
  .home {
    flex-direction: column;
    gap: 30px;
  }
  .home_left {
    gap: 10px;
    justify-content: start;
  }
  .home_name {
    font-size: 65px;
  }
  .home_right {
    order: 1;
    padding-top: 10px;
  }
  .home_left {
    order: 2;
  }
  .home_right {
    height: 100%;
  }
  .img_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
  }
  .avatar {
    height: 500px;
    width: 500px;
  }
}
@media screen and (max-width: 1028px) {
  .home_name {
    font-size: 55px;
  }

  .social_handles {
    margin-bottom: 10px;
  }
  
  .avatar {
    height: 400px;
    width: 400px;
  }
}
@media screen and (max-width: 960px) {
  .home {
    gap: 20px;
  }
  .home_name {
    font-size: 50px;
  }
  .home_desc {
    font-size: var(--fs-5);
    padding-right: 0;
  }
  .home_subtitle {
    font-size: var(--fs-4);
  }
  .avatar {
    height: 300px;
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .home_name {
    font-size: 40px;
  }
}
@media screen and (max-width: 560px) {
  .home_title {
    font-size: var(--fs-6);
  }
  .home_subtitle {
    font-size: var(--fs-5);
  }
  .home_desc {
    font-size: var(--fs-6);
  }
  .home_top,
  .home_bottom {
    text-align: center;
  }
  .social_handles {
    justify-content: center;
    gap: 20px;
  }
  .social_img {
    width: 35px;
    height: 35px;
    padding: 2px;
  }
  .download_btn {
    padding: 10px;
  }
  .download_btn::after {
    bottom: -7px;
    height: 29px;
    padding: 4px;
    width: 172px;
  }
}

@media screen and (max-width: 380px) {
  .home_left {
    gap: 0;
  }
}
